@media (min-width: 1024px) and (max-width: 1440px) {
  .banner_content {
    padding-left: 39px;

  }

  .banner_info {
    margin-top: 55%;
    align-content: center;
  }

  .offer_wrapper,
  .products_wrapper {
    grid-template-columns: repeat(3, 300px);
    gap: 22px;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  .header_left,
  .header_right {
    margin-left: 32px;
    margin-right: 32px;
  }

  .main_banner {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  .banner_img {
    align-content: flex-start;
  }

  .banner_content {
    padding-left: 39px;
    align-items: center;
  }

  .banner_info {
    margin-top: 50%;
  }

  .banner_title {
    font-size: 44px;
    line-height: 53px;
  }

  .banner_heading {
    font-size: 24px;
    line-height: 29px;
  }

  .offer_wrapper {
    grid-template-columns: repeat(3, 232px);
    gap: 19px;
  }

  .products_wrapper {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
}