* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center_header {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 82px;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.header_logo_name {
    color: #000000;
}

.header_logo_name_color {
    color: #F25822;
}

.header_menu {
    display: flex;
    gap: 35px;
}

.header_menu a {
    font-family: 'Gilroy';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.header_menu .header_menu_link_first {
    color: #F25822;
}

.center_content {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.content {
    display: flex;
    margin-bottom: 177px;
    align-items: center;
    gap: 39px;

}

.content_left_main_text {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    padding-bottom: 17px;
}

.content_left_text {
    font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    width: 466px;
    padding-bottom: 37px;
}

.content_btn {
    display: flex;
    gap: 72px;
    align-items: center;
}

.btn {
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border: 0;
    border-radius: 50px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 15px 35px;
}

.content_btn a {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #AAAAAA;
}

.center_logos {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.logos_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48px;
    padding-top: 96px;
    padding-bottom: 96px;
}