* {
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}

.features_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #fff;
    position: relative;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;

}

.features_box {
    width: 310px;
    height: 226px;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 25px;
    padding-right: 30px;
}

.features_box:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features_wrapper p {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
    max-width: 310px;
    margin-bottom: 25px;
}

.features_wrapper .f_btn {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 11px;
    line-height: 150%;
    color: #000000;
}

.features_header {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.servises {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    background: #FAFAFA;
}

.serv_title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    line-height: 53px;
    color: #000000;
    margin-bottom: 19px;
    text-align: center;
    /* Normalize css сам задает отступ */
    margin-top: 0;
}

.serv_text {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    margin-bottom: 55px;
    text-align: center;
    max-width: 682px;
    margin-bottom: 31px
}

.servises_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 50px;
    padding-top: 24px;
}

.serv_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background: #FFFFFF;
    justify-content: flex-end;
    max-width: 370px;
}

.serv_card:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.card_title {
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 22px;
}

.card_text {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 150%;
    color: #AAAAAA;
    margin-bottom: 39px;
    text-align: center;
    max-width: 310px;
    margin-bottom: 39px
}



.btn {
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border: 0;
    border-radius: 50px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 15px 35px;
}